/*@import url(https://fonts.googleapis.com/css?family=Roboto:400,900);*/

html {
/*  height: 100%;*/
}

body {
  font-family: 'Roboto', sans-serif;
/*  height: 100%;
  width: 100%;
  margin: 0;*/
}

.top-panel {
  color: #fff;
  background-color: #337AB7;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.container {
  max-width: 500px;
  margin: 0 auto;
}

.presets a {
  margin: 0 10px;
}

.presets h3 {
  display: inline;
  margin: 0 10px;
}

.start-btn {
  width: 200px;
}

/*
h3 {
  margin-top: 4px;
  margin-bottom: 0;
  font-size: 20px;
}
      
.panel {
  position: absolute;
  height: 100%;
  width: 100%;
}

.top-panel {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  background-color: #337AB7;
}

.preset-btn {
  width: 50px;
}

#timer-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  position: absolute;
  font-size: 900%;
  top: 40%;
  right: 30%;
  color: #337AB7;
}

#timer-countdown {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  position: absolute;
  font-size: 500%;
  top: 50%;
  right: 40%;
  color: #000000;
}

a:link {
  color:#fff;
  text-decoration:none;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

a:visited {
  color:#fff;
  text-decoration:none;
  font-family: 'Roboto', sans-serif;
}

a:hover {
  text-decoration:none;
}

#bottom-line {
  position: absolute;
  bottom: 0%;
  height: 1%;
  width: 100%;
  background-color: #337AB7;
}
*/